<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>添加会员-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
 	 	<link rel="stylesheet" href="/static/css/font.css">
		<link rel="stylesheet" href="/static/css/weadmin.css">
		<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
		<!--[if lt IE 9]>
	      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
	      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>

	<body>
		<div class="weadmin-body">
			<form class="layui-form">
				<input name="pid" th:value="${id}" class="layui-hide">
				<div class="layui-form-item">
					<label for="L_username" class="layui-form-label">
		                <span class="we-red">*</span>姓名
		            </label>
					<div class="layui-input-inline">
						<input    type="text" name="name" disabled th:value="${people.name}"  lay-verify="required|nikename" autocomplete="off" class="layui-input">
					</div>

				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>学院
					</label>
					<div class="layui-input-inline">
						<input type="text"  name="dep" disabled th:value="${people.dep}" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>专业年级
					</label>
					<div class="layui-input-inline">
						<input type="text"  name="classname" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>课程
					</label>
					<div class="layui-input-inline">
						<input type="text"  name="coursename" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>


				<div class="layui-form-item">
					<label  class="layui-form-label">爱岗敬业</label>
					<div class="layui-input-block" >
						<input type="radio" name="t1" value="0" title="优" checked>
						<input type="radio" name="t1"  value="1" title="良"  >
						<input type="radio" name="t1" value="2" title="差"  >


					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">为人师表</label>
					<div class="layui-input-block" >
						<input type="radio" name="t2" value="0" title="优" checked>
						<input type="radio" name="t2"  value="1" title="良"  >
						<input type="radio" name="t2"  value="2" title="差"  >
					</div>
				</div>

				<div class="layui-form-item">
					<label  class="layui-form-label">学历资格	</label>
					<div class="layui-input-block" >
						<input type="radio" name="t3" value="0" title="优" checked>
						<input type="radio" name="t3"  value="1" title="良"  >
						<input type="radio" name="t3"  value="2" title="差"  >
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">教学技能</label>
					<div class="layui-input-block" >
						<input type="radio" name="t4" value="0" title="优" checked>
						<input type="radio" name="t4"  value="1" title="良"  >
						<input type="radio" name="t4"  value="2" title="差"  >
					</div>
				</div>

				<div class="layui-form-item">
					<label  class="layui-form-label">作业指导</label>
					<div class="layui-input-block" >
						<input type="radio" name="t5" value="0" title="优" checked>
						<input type="radio" name="t5"  value="1" title="良"  >
						<input type="radio" name="t5"  value="2" title="差"  >
					</div>
				</div>

				<div class="layui-form-item">
					<label  class="layui-form-label">教学质量</label>
					<div class="layui-input-block" >
						<input type="radio" name="t6" value="0" title="优"checked  >
						<input type="radio" name="t6"  value="1" title="良"  >
						<input type="radio" name="t6"  value="2" title="差"  >
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">终身学习</label>
					<div class="layui-input-block" >
						<input type="radio" name="t7" value="0" title="优"  checked>
						<input type="radio" name="t7"  value="1" title="良"  >
						<input type="radio" name="t7"  value="2" title="差"  >
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">转变观念</label>
					<div class="layui-input-block" >
						<input type="radio" name="t8" value="0" title="优" checked>
						<input type="radio" name="t8"  value="1" title="良"  >
						<input type="radio" name="t8"  value="2" title="差"  >
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">反思交流</label>
					<div class="layui-input-block" >
						<input type="radio" name="t9" value="0" title="优" checked>
						<input type="radio" name="t9"  value="1" title="良"  >
						<input type="radio" name="t9"  value="2" title="差"  >
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">教学能力</label>
					<div class="layui-input-block" >
						<input type="radio" name="t10" value="0" title="优" checked>
						<input type="radio" name="t10"  value="1" title="良"  >
						<input type="radio" name="t10"  value="2" title="差"  >
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">研究行动</label>
					<div class="layui-input-block" >
						<input type="radio" name="t11" value="0" title="优" checked>
						<input type="radio" name="t11"  value="1" title="良"  >
						<input type="radio" name="t11"  value="2" title="差"  >
					</div>
				</div>

				<div class="layui-form-item">
					<label  class="layui-form-label">研究能力</label>
					<div class="layui-input-block" >
						<input type="radio" name="t12" value="0" title="优" checked>
						<input type="radio" name="t12"  value="1" title="良"  >
						<input type="radio" name="t12"  value="2" title="差"  >
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">创新成果	</label>
					<div class="layui-input-block" >
						<input type="radio" name="t13" value="0" title="优" checked>
						<input type="radio" name="t13"  value="1" title="良"  >
						<input type="radio" name="t13"  value="2" title="差"  >
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">教学设计</label>
					<div class="layui-input-block" >
						<input type="radio" name="t14" value="0" title="优" checked>
						<input type="radio" name="t14"  value="1" title="良"  >
						<input type="radio" name="t14"  value="2" title="差"  >
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">教学技术	</label>
					<div class="layui-input-block" >
						<input type="radio" name="t15" value="0" title="优" checked>
						<input type="radio" name="t15"  value="1" title="良"  >
						<input type="radio" name="t15"  value="2" title="差"  >
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">教学方式</label>
					<div class="layui-input-block" >
						<input type="radio" name="t16" value="0" title="优" checked>
						<input type="radio" name="t16"  value="1" title="良"  >
						<input type="radio" name="t16"  value="2" title="差"  >
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">学习环境 </label>
					<div class="layui-input-block" >
						<input type="radio" name="t17" value="0" title="优" checked>
						<input type="radio" name="t17"  value="1" title="良"  >
						<input type="radio" name="t17"  value="2" title="差"  >
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">课堂调控 </label>
					<div class="layui-input-block" >
						<input type="radio" name="t18" value="0" title="优" checked>
						<input type="radio" name="t18"  value="1" title="良"  >
						<input type="radio" name="t18"  value="2" title="差"  >
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">过程评价</label>
					<div class="layui-input-block" >
						<input type="radio" name="t19" value="0" title="优" checked>
						<input type="radio" name="t19"  value="1" title="良"  >
						<input type="radio" name="t19"  value="2" title="差"  >
					</div>
				</div>

				<div class="layui-form-item">
					<label  class="layui-form-label">教学效果</label>
					<div class="layui-input-block" >
						<input type="radio" name="t20" value="0" title="优" checked>
						<input type="radio" name="t20"  value="1" title="良"  >
						<input type="radio" name="t20"  value="2" title="差"  >
					</div>
				</div>





				<div class="layui-form-item">
					<label   class="layui-form-label">
              </label>
					<button class="layui-btn" lay-filter="add" lay-submit="">确定</button>
				</div>
			</form>
		</div>
		<script src="/lib/layui/layui.js" charset="utf-8"></script>
		
		<script>
			layui.extend({
				admin: '{/}/static/js/admin'
			});
			layui.use(['form', 'jquery','util','admin', 'layer'], function() {
				var form = layui.form,
					$ = layui.jquery,
					util = layui.util,
					admin = layui.admin,
					layer = layui.layer;
                // layer.msg(parent.location.href);

				//自定义验证规则
				form.verify({
					nikename: function(value) {
						if(value.length < 1) {
							return '昵称至少得1个字符啊';
						}
					},
					pass: [/(.+){1,12}$/, '密码必须1到12位'],
					repass: function(value) {
						if($('#L_pass').val() != $('#L_repass').val()) {
							return '两次密码不一致';
						}
					}
				});
				//失去焦点时判断值为空不验证，一旦填写必须验证
				$('input[name="email"]').blur(function(){
					//这里是失去焦点时的事件
					if($('input[name="email"]').val()){
						$('input[name="email"]').attr('lay-verify','email');
					}else{
						$('input[name="email"]').removeAttr('lay-verify');
					}
				});

				//监听提交
				form.on('submit(add)', function(data) {
                    console.log(JSON.stringify(data.field));

					$.ajax({
						type:'post',
					    url:"/estimate/addEstimateTeacher",
					    data:JSON.stringify(data.field),

                        contentType : 'application/json',
					    success:function (data) {
                            layer.msg(data.msg);
                            if(data.code==200)
							{

							    setTimeout(function (args) {
							        var index = parent.layer.getFrameIndex(window.name);
                                        parent.location.reload("/estimate/estimateTeacherList");
                                    parent.layer.close(index);

                                    }

                                    ,1000)


							}

					    }
					});

					return false;
				});

			});
		</script>
	</body>

</html>