<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjc.bs.mapper.estimate.EstimateTeacherMapper">
  <resultMap id="BaseResultMap" type="com.zjc.bs.entity.estimate.EstimateTeacher">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="t1" jdbcType="INTEGER" property="t1" />
    <result column="t2" jdbcType="INTEGER" property="t2" />
    <result column="t3" jdbcType="INTEGER" property="t3" />
    <result column="t4" jdbcType="INTEGER" property="t4" />
    <result column="t5" jdbcType="INTEGER" property="t5" />
    <result column="t6" jdbcType="INTEGER" property="t6" />
    <result column="t7" jdbcType="INTEGER" property="t7" />
    <result column="t8" jdbcType="INTEGER" property="t8" />
    <result column="t9" jdbcType="INTEGER" property="t9" />
    <result column="t10" jdbcType="INTEGER" property="t10" />
    <result column="t11" jdbcType="INTEGER" property="t11" />
    <result column="t12" jdbcType="INTEGER" property="t12" />
    <result column="t13" jdbcType="INTEGER" property="t13" />
    <result column="t14" jdbcType="INTEGER" property="t14" />
    <result column="t15" jdbcType="INTEGER" property="t15" />
    <result column="t16" jdbcType="INTEGER" property="t16" />
    <result column="t17" jdbcType="INTEGER" property="t17" />
    <result column="t18" jdbcType="INTEGER" property="t18" />
    <result column="t19" jdbcType="INTEGER" property="t19" />
    <result column="t20" jdbcType="INTEGER" property="t20" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="pcontent" jdbcType="VARCHAR" property="pcontent" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="old" jdbcType="INTEGER" property="old" />
    <result column="teacherold" jdbcType="INTEGER" property="teacherold" />
    <result column="dep" jdbcType="VARCHAR" property="dep" />
    <result column="coursename" jdbcType="VARCHAR" property="coursename" />
    <result column="classname" jdbcType="VARCHAR" property="classname" />
  </resultMap>

</mapper>