<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjc.bs.mapper.check.PlanMapper">
  <resultMap id="BaseResultMap" type="com.zjc.bs.entity.check.Plan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="startyear" jdbcType="INTEGER" property="startyear" />
    <result column="term" jdbcType="INTEGER" property="term" />
    <result column="coursename" jdbcType="VARCHAR" property="coursename" />
    <result column="classname" jdbcType="VARCHAR" property="classname" />
    <result column="teachername" jdbcType="VARCHAR" property="teachername" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="classnum" jdbcType="INTEGER" property="classnum" />
    <result column="studytime" jdbcType="INTEGER" property="studytime" />
    <result column="bookname" jdbcType="VARCHAR" property="bookname" />
    <result column="bookauther" jdbcType="VARCHAR" property="bookauther" />
    <result column="bookpublish" jdbcType="VARCHAR" property="bookpublish" />
    <result column="booktime" jdbcType="TIMESTAMP" property="booktime" />
    <result column="preference" jdbcType="VARCHAR" property="preference" />
    <result column="speaktime" jdbcType="INTEGER" property="speaktime" />
    <result column="experiencetime" jdbcType="INTEGER" property="experiencetime" />
    <result column="other" jdbcType="INTEGER" property="other" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="examtype" jdbcType="INTEGER" property="examtype" />
    <result column="exam" jdbcType="INTEGER" property="exam" />
    <result column="housework" jdbcType="INTEGER" property="housework" />
    <result column="classperformance" jdbcType="INTEGER" property="classperformance" />
    <result column="smallexam" jdbcType="INTEGER" property="smallexam" />
    <result column="experience" jdbcType="INTEGER" property="experience" />
    <result column="smallpaper" jdbcType="INTEGER" property="smallpaper" />
    <result column="middleexam" jdbcType="INTEGER" property="middleexam" />
  </resultMap>
  <sql id="Base_Column_List">
    id, startyear, term, coursename, classname, teachername, grade, classnum, studytime, 
    bookname, bookauther, bookpublish, booktime, preference, speaktime, experiencetime, 
    other, pid, status, examtype, exam, housework, classperformance, smallexam, experience, 
    smallpaper, middleexam
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from plan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from plan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zjc.bs.entity.check.Plan">
    insert into plan (id, startyear, term, 
      coursename, classname, teachername, 
      grade, classnum, studytime, 
      bookname, bookauther, bookpublish, 
      booktime, preference, speaktime, 
      experiencetime, other, pid, 
      status, examtype, exam, 
      housework, classperformance, smallexam, 
      experience, smallpaper, middleexam
      )
    values (#{id,jdbcType=INTEGER}, #{startyear,jdbcType=INTEGER}, #{term,jdbcType=INTEGER}, 
      #{coursename,jdbcType=VARCHAR}, #{classname,jdbcType=VARCHAR}, #{teachername,jdbcType=VARCHAR}, 
      #{grade,jdbcType=INTEGER}, #{classnum,jdbcType=INTEGER}, #{studytime,jdbcType=INTEGER}, 
      #{bookname,jdbcType=VARCHAR}, #{bookauther,jdbcType=VARCHAR}, #{bookpublish,jdbcType=VARCHAR}, 
      #{booktime,jdbcType=TIMESTAMP}, #{preference,jdbcType=VARCHAR}, #{speaktime,jdbcType=INTEGER}, 
      #{experiencetime,jdbcType=INTEGER}, #{other,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{examtype,jdbcType=INTEGER}, #{exam,jdbcType=INTEGER}, 
      #{housework,jdbcType=INTEGER}, #{classperformance,jdbcType=INTEGER}, #{smallexam,jdbcType=INTEGER}, 
      #{experience,jdbcType=INTEGER}, #{smallpaper,jdbcType=INTEGER}, #{middleexam,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zjc.bs.entity.check.Plan">
    insert into plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="startyear != null">
        startyear,
      </if>
      <if test="term != null">
        term,
      </if>
      <if test="coursename != null">
        coursename,
      </if>
      <if test="classname != null">
        classname,
      </if>
      <if test="teachername != null">
        teachername,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="classnum != null">
        classnum,
      </if>
      <if test="studytime != null">
        studytime,
      </if>
      <if test="bookname != null">
        bookname,
      </if>
      <if test="bookauther != null">
        bookauther,
      </if>
      <if test="bookpublish != null">
        bookpublish,
      </if>
      <if test="booktime != null">
        booktime,
      </if>
      <if test="preference != null">
        preference,
      </if>
      <if test="speaktime != null">
        speaktime,
      </if>
      <if test="experiencetime != null">
        experiencetime,
      </if>
      <if test="other != null">
        other,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="examtype != null">
        examtype,
      </if>
      <if test="exam != null">
        exam,
      </if>
      <if test="housework != null">
        housework,
      </if>
      <if test="classperformance != null">
        classperformance,
      </if>
      <if test="smallexam != null">
        smallexam,
      </if>
      <if test="experience != null">
        experience,
      </if>
      <if test="smallpaper != null">
        smallpaper,
      </if>
      <if test="middleexam != null">
        middleexam,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="startyear != null">
        #{startyear,jdbcType=INTEGER},
      </if>
      <if test="term != null">
        #{term,jdbcType=INTEGER},
      </if>
      <if test="coursename != null">
        #{coursename,jdbcType=VARCHAR},
      </if>
      <if test="classname != null">
        #{classname,jdbcType=VARCHAR},
      </if>
      <if test="teachername != null">
        #{teachername,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="classnum != null">
        #{classnum,jdbcType=INTEGER},
      </if>
      <if test="studytime != null">
        #{studytime,jdbcType=INTEGER},
      </if>
      <if test="bookname != null">
        #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="bookauther != null">
        #{bookauther,jdbcType=VARCHAR},
      </if>
      <if test="bookpublish != null">
        #{bookpublish,jdbcType=VARCHAR},
      </if>
      <if test="booktime != null">
        #{booktime,jdbcType=TIMESTAMP},
      </if>
      <if test="preference != null">
        #{preference,jdbcType=VARCHAR},
      </if>
      <if test="speaktime != null">
        #{speaktime,jdbcType=INTEGER},
      </if>
      <if test="experiencetime != null">
        #{experiencetime,jdbcType=INTEGER},
      </if>
      <if test="other != null">
        #{other,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="examtype != null">
        #{examtype,jdbcType=INTEGER},
      </if>
      <if test="exam != null">
        #{exam,jdbcType=INTEGER},
      </if>
      <if test="housework != null">
        #{housework,jdbcType=INTEGER},
      </if>
      <if test="classperformance != null">
        #{classperformance,jdbcType=INTEGER},
      </if>
      <if test="smallexam != null">
        #{smallexam,jdbcType=INTEGER},
      </if>
      <if test="experience != null">
        #{experience,jdbcType=INTEGER},
      </if>
      <if test="smallpaper != null">
        #{smallpaper,jdbcType=INTEGER},
      </if>
      <if test="middleexam != null">
        #{middleexam,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjc.bs.entity.check.Plan">
    update plan
    <set>
      <if test="startyear != null">
        startyear = #{startyear,jdbcType=INTEGER},
      </if>
      <if test="term != null">
        term = #{term,jdbcType=INTEGER},
      </if>
      <if test="coursename != null">
        coursename = #{coursename,jdbcType=VARCHAR},
      </if>
      <if test="classname != null">
        classname = #{classname,jdbcType=VARCHAR},
      </if>
      <if test="teachername != null">
        teachername = #{teachername,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="classnum != null">
        classnum = #{classnum,jdbcType=INTEGER},
      </if>
      <if test="studytime != null">
        studytime = #{studytime,jdbcType=INTEGER},
      </if>
      <if test="bookname != null">
        bookname = #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="bookauther != null">
        bookauther = #{bookauther,jdbcType=VARCHAR},
      </if>
      <if test="bookpublish != null">
        bookpublish = #{bookpublish,jdbcType=VARCHAR},
      </if>
      <if test="booktime != null">
        booktime = #{booktime,jdbcType=TIMESTAMP},
      </if>
      <if test="preference != null">
        preference = #{preference,jdbcType=VARCHAR},
      </if>
      <if test="speaktime != null">
        speaktime = #{speaktime,jdbcType=INTEGER},
      </if>
      <if test="experiencetime != null">
        experiencetime = #{experiencetime,jdbcType=INTEGER},
      </if>
      <if test="other != null">
        other = #{other,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="examtype != null">
        examtype = #{examtype,jdbcType=INTEGER},
      </if>
      <if test="exam != null">
        exam = #{exam,jdbcType=INTEGER},
      </if>
      <if test="housework != null">
        housework = #{housework,jdbcType=INTEGER},
      </if>
      <if test="classperformance != null">
        classperformance = #{classperformance,jdbcType=INTEGER},
      </if>
      <if test="smallexam != null">
        smallexam = #{smallexam,jdbcType=INTEGER},
      </if>
      <if test="experience != null">
        experience = #{experience,jdbcType=INTEGER},
      </if>
      <if test="smallpaper != null">
        smallpaper = #{smallpaper,jdbcType=INTEGER},
      </if>
      <if test="middleexam != null">
        middleexam = #{middleexam,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjc.bs.entity.check.Plan">
    update plan
    set startyear = #{startyear,jdbcType=INTEGER},
      term = #{term,jdbcType=INTEGER},
      coursename = #{coursename,jdbcType=VARCHAR},
      classname = #{classname,jdbcType=VARCHAR},
      teachername = #{teachername,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER},
      classnum = #{classnum,jdbcType=INTEGER},
      studytime = #{studytime,jdbcType=INTEGER},
      bookname = #{bookname,jdbcType=VARCHAR},
      bookauther = #{bookauther,jdbcType=VARCHAR},
      bookpublish = #{bookpublish,jdbcType=VARCHAR},
      booktime = #{booktime,jdbcType=TIMESTAMP},
      preference = #{preference,jdbcType=VARCHAR},
      speaktime = #{speaktime,jdbcType=INTEGER},
      experiencetime = #{experiencetime,jdbcType=INTEGER},
      other = #{other,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      examtype = #{examtype,jdbcType=INTEGER},
      exam = #{exam,jdbcType=INTEGER},
      housework = #{housework,jdbcType=INTEGER},
      classperformance = #{classperformance,jdbcType=INTEGER},
      smallexam = #{smallexam,jdbcType=INTEGER},
      experience = #{experience,jdbcType=INTEGER},
      smallpaper = #{smallpaper,jdbcType=INTEGER},
      middleexam = #{middleexam,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>