<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjc.bs.mapper.check.PlanMapper">
  <resultMap id="BaseResultMap" type="com.zjc.bs.entity.check.Plan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="startyear" jdbcType="INTEGER" property="startyear" />
    <result column="term" jdbcType="INTEGER" property="term" />
    <result column="coursename" jdbcType="VARCHAR" property="coursename" />
    <result column="classname" jdbcType="VARCHAR" property="classname" />
    <result column="teachername" jdbcType="VARCHAR" property="teachername" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="classnum" jdbcType="INTEGER" property="classnum" />
    <result column="studytime" jdbcType="INTEGER" property="studytime" />
    <result column="bookname" jdbcType="VARCHAR" property="bookname" />
    <result column="bookauther" jdbcType="VARCHAR" property="bookauther" />
    <result column="bookpublish" jdbcType="VARCHAR" property="bookpublish" />
    <result column="booktime" jdbcType="TIMESTAMP" property="booktime" />
    <result column="preference" jdbcType="VARCHAR" property="preference" />
    <result column="speaktime" jdbcType="INTEGER" property="speaktime" />
    <result column="experiencetime" jdbcType="INTEGER" property="experiencetime" />
    <result column="other" jdbcType="INTEGER" property="other" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="examtype" jdbcType="INTEGER" property="examtype" />
    <result column="exam" jdbcType="INTEGER" property="exam" />
    <result column="housework" jdbcType="INTEGER" property="housework" />
    <result column="classperformance" jdbcType="INTEGER" property="classperformance" />
    <result column="smallexam" jdbcType="INTEGER" property="smallexam" />
    <result column="experience" jdbcType="INTEGER" property="experience" />
    <result column="smallpaper" jdbcType="INTEGER" property="smallpaper" />
    <result column="middleexam" jdbcType="INTEGER" property="middleexam" />
  </resultMap>

</mapper>