<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>添加会员-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
 	 	<link rel="stylesheet" href="/static/css/font.css">
		<link rel="stylesheet" href="/static/css/weadmin.css">
		<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
		<!--[if lt IE 9]>
	      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
	      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
		<style type="text/css">
			.layui-form-label{
				width: 150px;
				text-align: center;
			}

		</style>
	</head>

	<body>
		<div class="weadmin-body">
			<form class="layui-form">
				<input name="pid" th:value="${id}" class="layui-hide">
				<div class="layui-form-item">
					<label for="L_username" class="layui-form-label">
		                <span class="we-red">*</span>开课学年
		            </label>
					<div class="layui-input-inline">
						<input    type="text" id="L_username" name="startyear" lay-verify="required|nikename" autocomplete="off" class="layui-input">
					</div>

				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>学期
					</label>
					<div class="layui-input-inline">
						<input type="text"  name="term" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>课程名称
					</label>
					<div class="layui-input-inline">
						<input type="text"  name="coursename" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>适用专业/年级
					</label>
					<div class="layui-input-inline">
						<input type="text"  name="classname" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>任 课
						教 师

					</label>
					<div class="layui-input-inline">
						<input type="text"  name="teachername" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>学分
					</label>
					<div class="layui-input-inline">
						<input type="text"  name="grade" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>本期上课周数
					</label>
					<div class="layui-input-inline">
						<input type="text"  name="classnum" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
				<label  class="layui-form-label">
					<span class="we-red">*</span>本 期
					总学时

				</label>
				<div class="layui-input-inline">
					<input type="text"  name="studytime" lay-verify="required" autocomplete="" class="layui-input">
				</div>
			</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>教 材

						名 称


					</label>
					<div class="layui-input-inline">
						<input type="text"  name="bookname" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>


				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>编著者


					</label>
					<div class="layui-input-inline">
						<input type="text"  name="bookauther" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>出版社


					</label>
					<div class="layui-input-inline">
						<input type="text"  name="bookpublish" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>出版时间

					</label>
					<div class="layui-input-inline">
						<input type="text"  name="booktime" placeholder="格式yyy-MM-dd"lay-verify="date" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>参 考

						教 材



					</label>
					<div class="layui-input-inline">
						<input type="text"  name="preference" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>讲课学时


					</label>
					<div class="layui-input-inline">
						<input type="text"  name="speaktime" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>实验学时

						名 称


					</label>
					<div class="layui-input-inline">
						<input type="text"  name="experiencetime" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>其他学时


					</label>
					<div class="layui-input-inline">
						<input type="text"  name="other" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>考核方式


					</label>
					<div class="layui-input-inline">
						<input type="radio"  title="考试" value="0"   name="examtype"  >
						<input type="radio"  title="考察" value="1"   name="examtype"  >
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						 期末考核占比(%)


					</label>
					<div class="layui-input-inline">
						<input type="text"  name="exam"   autocomplete="" class="layui-input">
					</div>
				</div>


				<div class="layui-form-item">
					<label  class="layui-form-label">
						 平时作业占比(%)


					</label>
					<div class="layui-input-inline">
						<input type="text"  name="housework"   autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						 课堂讨论和提问占比(%)


					</label>
					<div class="layui-input-inline">
						<input type="text"  name="classperformance"   autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						 阶段测验占比(%)


					</label>
					<div class="layui-input-inline">
						<input type="text"  name="smallexam"   autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						 实    验占比(%)


					</label>
					<div class="layui-input-inline">
						<input type="text"  name="experience"   autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						 小 论 文占比(%)


					</label>
					<div class="layui-input-inline">
						<input type="text"  name="smallpaper"   autocomplete="" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label  class="layui-form-label">
						 期中考试占比(%)


					</label>
					<div class="layui-input-inline">
						<input type="text"  name="middleexam"   autocomplete="" class="layui-input">
					</div>
				</div>








				<div class="layui-form-item">
					<label   class="layui-form-label">
              </label>
					<button class="layui-btn" lay-filter="add" lay-submit="">确定</button>
				</div>
			</form>
		</div>
		<script src="/lib/layui/layui.js" charset="utf-8"></script>
		
		<script>
			layui.extend({
				admin: '{/}/static/js/admin'
			});
			layui.use(['form', 'jquery','util','admin', 'layer'], function() {
				var form = layui.form,
					$ = layui.jquery,
					util = layui.util,
					admin = layui.admin,
					layer = layui.layer;
                // layer.msg(parent.location.href);

				//自定义验证规则
				form.verify({
					nikename: function(value) {
						if(value.length < 1) {
							return '昵称至少得1个字符啊';
						}
					},
					pass: [/(.+){1,12}$/, '密码必须1到12位'],
					repass: function(value) {
						if($('#L_pass').val() != $('#L_repass').val()) {
							return '两次密码不一致';
						}
					}
				});
				//失去焦点时判断值为空不验证，一旦填写必须验证
				$('input[name="email"]').blur(function(){
					//这里是失去焦点时的事件
					if($('input[name="email"]').val()){
						$('input[name="email"]').attr('lay-verify','email');
					}else{
						$('input[name="email"]').removeAttr('lay-verify');
					}
				});

				//监听提交
				form.on('submit(add)', function(data) {
                    console.log(JSON.stringify(data.field));

					$.ajax({
						type:'post',
					    url:"/plan/addPlanTeacher",
					    data:JSON.stringify(data.field),

                        contentType : 'application/json',
					    success:function (data) {
                            layer.msg(data.msg);
                            if(data.code==200)
							{

							    setTimeout(function (args) {
							        var index = parent.layer.getFrameIndex(window.name);
                                        parent.location.reload("//exam/examTeacherList");
                                    parent.layer.close(index);

                                    }

                                    ,1000)


							}

					    }
					});

					return false;
				});

			});
		</script>
	</body>

</html>