<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>添加会员-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
 	 	<link rel="stylesheet" href="/static/css/font.css">
		<link rel="stylesheet" href="/static/css/weadmin.css">
		<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
		<!--[if lt IE 9]>
	      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
	      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
		<style type="text/css">
			.layui-form-label{
				width: 150px;
				text-align: center;
			}

		</style>
	</head>

	<body>
	<!--<input  id="id" th:value="${id}" class="layui-hide">-->
		<div class="weadmin-body">
			<form class="layui-form">
				<input type="text"  th:value="${courseDesignTeacher.id}"  name="id"   class="layui-hide">

				<div class="layui-form-item">
					<label for="L_username" class="layui-form-label">
						<span class="we-red">*</span>开课学年
					</label>
					<div class="layui-input-inline">
						<input  th:value="${courseDesignTeacher.startyear}" disabled type="text" id="L_username"   lay-verify="required|nikename" autocomplete="off" class="layui-input">
					</div>

				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>学期
					</label>
					<div class="layui-input-inline">
						<input type="text" th:value="${courseDesignTeacher.term}" disabled name="term" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>课程名称
					</label>
					<div class="layui-input-inline">
						<input type="text"  th:value="${courseDesignTeacher.coursename}"disabled name="coursename" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>


				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>专业年级
					</label>
					<div class="layui-input-inline">
						<input type="text"  th:value="${courseDesignTeacher.classname}"disabled name="classname" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>任 课
						教 师

					</label>
					<div class="layui-input-inline">
						<input type="text"  name="teachername"disabled th:value="${courseDesignTeacher.teachername}"   lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>学分
					</label>
					<div class="layui-input-inline">
						<input type="text"disabled  name="grade"th:value="${courseDesignTeacher.grade}" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>本期上课周数
					</label>
					<div class="layui-input-inline">
						<input type="text"disabled  name="classnum"th:value="${courseDesignTeacher.classnum}" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>本 期
						总学时

					</label>
					<div class="layui-input-inline">
						<input type="text"disabled  name="studytime"th:value="${courseDesignTeacher.studytime}" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>教 材

						名 称


					</label>
					<div class="layui-input-inline">
						<input type="text"disabled  name="bookname"th:value="${courseDesignTeacher.bookname}" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>


				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>编著者


					</label>
					<div class="layui-input-inline">
						<input type="text" disabled name="bookauther" th:value="${courseDesignTeacher.classname}" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>出版社


					</label>
					<div class="layui-input-inline">
						<input type="text" disabled name="bookpublish"th:value="${courseDesignTeacher.bookpublish}" lay-verify="required" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>出版时间

					</label>
					<div class="layui-input-inline">
						<input type="text"disabled  name="booktime" placeholder="格式yyy-MM-dd"lay-verify="date"th:value="${#dates.format(courseDesignTeacher.booktime,'yyyy-MM-dd')}" autocomplete=""   class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>参 考

						教 材



					</label>
					<div class="layui-input-inline">
						<input type="text"  disabled name="preference" lay-verify="required"th:value="${courseDesignTeacher.preference}" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>讲课学时


					</label>
					<div class="layui-input-inline">
						<input type="text"  disabled name="speaktime" lay-verify="required"th:value="${courseDesignTeacher.speaktime}" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>实验学时

						名 称


					</label>
					<div class="layui-input-inline">
						<input type="text" disabled name="experiencetime" lay-verify="required"th:value="${courseDesignTeacher.experiencetime}" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>其他学时


					</label>
					<div class="layui-input-inline">
						<input type="text" disabled  name="other" lay-verify="required" autocomplete=""th:value="${courseDesignTeacher.other}" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						<span class="we-red">*</span>考核方式


					</label>
					<div class="layui-input-inline">
						<input type="radio" disabled  title="考试" value="0" th:checked="${courseDesignTeacher.examtype==0}"     >
						<input type="radio" disabled  title="考察" value="1" th:checked="${courseDesignTeacher.examtype==1}"     >
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						期末考核占比(%)


					</label>
					<div class="layui-input-inline">
						<input type="text" disabled name="exam"  th:value="${courseDesignTeacher.exam}" autocomplete="" class="layui-input">
					</div>
				</div>


				<div class="layui-form-item">
					<label  class="layui-form-label">
						平时作业占比(%)


					</label>
					<div class="layui-input-inline">
						<input type="text" disabled name="housework" th:value="${courseDesignTeacher.housework}"  autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						课堂讨论和提问占比(%)


					</label>
					<div class="layui-input-inline">
						<input type="text" disabled name="classperformance" th:value="${courseDesignTeacher.classperformance}"  autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						阶段测验占比(%)


					</label>
					<div class="layui-input-inline">
						<input type="text" disabled  name="smallexam"  th:value="${courseDesignTeacher.smallexam}" autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						实    验占比(%)


					</label>
					<div class="layui-input-inline">
						<input type="text" disabled name="experience" th:value="${courseDesignTeacher.experience}"  autocomplete="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label  class="layui-form-label">
						小 论 文占比(%)


					</label>
					<div class="layui-input-inline">
						<input type="text" disabled name="smallpaper" th:value="${courseDesignTeacher.smallpaper}"  autocomplete="" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label  class="layui-form-label">
						期中考试占比(%)


					</label>
					<div class="layui-input-inline">
						<input type="text" disabled name="middleexam" th:value="${courseDesignTeacher.middleexam}"  autocomplete="" class="layui-input">
					</div>
				</div>







				<div class="layui-form-item">
					<label  class="layui-form-label">审查情况</label>
					<div class="layui-input-block" >
						<input type="radio" name="status" value="1" title="通过" th:checked="${courseDesignTeacher.status == true}">
						<input type="radio" name="status" value="2" title="不通过" th:checked="${courseDesignTeacher.status == false}">

					</div>
				</div>





				<div class="layui-form-item">
					<label   class="layui-form-label">
              </label>
					<button class="layui-btn" lay-filter="add" lay-submit="">确定</button>
				</div>
			</form>
		</div>
		<script src="/lib/layui/layui.js" charset="utf-8"></script>
		
		<script>
			layui.extend({
				admin: '{/}/static/js/admin'
			});
			layui.use(['form', 'jquery','util','admin', 'layer'], function() {
				var form = layui.form,
					$ = layui.jquery,
					util = layui.util,
					admin = layui.admin,
					layer = layui.layer;
                // layer.msg(parent.location.href);

				//自定义验证规则
				form.verify({
					nikename: function(value) {
						if(value.length < 1) {
							return '昵称至少得1个字符啊';
						}
					},
					pass: [/(.+){1,12}$/, '密码必须1到12位'],
					repass: function(value) {
						if($('#L_pass').val() != $('#L_repass').val()) {
							return '两次密码不一致';
						}
					}
				});
				//失去焦点时判断值为空不验证，一旦填写必须验证
				$('input[name="email"]').blur(function(){
					//这里是失去焦点时的事件
					if($('input[name="email"]').val()){
						$('input[name="email"]').attr('lay-verify','email');
					}else{
						$('input[name="email"]').removeAttr('lay-verify');
					}
				});

				//监听提交
				form.on('submit(add)', function(data) {
				   var id= $('#id').val()
                    console.log(JSON.stringify(data.field));
					data.id=id;
					$.ajax({
						type:'post',
					    url:"/plan/updatePlanSup",
					    data: {status:data.field.status,id:data.field.id} ,



					    success:function (data) {
                            layer.msg(data.msg);
                            if(data.code==200)
							{

							    setTimeout(function (args) {
							        var index = parent.layer.getFrameIndex(window.name);
                                        parent.location.reload("/plan/planSupList");
                                    parent.layer.close(index);

                                    }

                                    ,1000)


							}

					    }
					});

					return false;
				});

			});
		</script>
	</body>

</html>